.container {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

.red1 {
    background-color: black;
    width: 100px;
    height: 50px;
}

.red2 {
    background-color: black;
    width: 100px;
    height: 50px;
}

.blue1 {
    background-color: black;
    width: 100px;
    height: 50px;
}

.blue2 {
    background-color: black;
    width: 100px;
    height: 50px;
}

.green1 {
    background-color: black;
    width: 100px;
    height: 50px;
}

.green2 {
    background-color: black;
    width: 100px;
    height: 50px;
}

.black {
    background-color: black;
    width: 100px;
    height: 50px;
}
.buttonToReset{
    background-color: steelblue;
    color: white;
    border:none;
}
.winParagraph{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:"black",
}
.alert-container{
    display: flex;
    justify-content: center;
}